body {
	background: radial-gradient(#b0ffe8, #bdfdd7, #98336b);
}

.container {
	display: grid;
  	grid-template-rows: repeat(16, 1fr);
  	grid-template-columns: repeat(16, 1fr);
  	background: radial-gradient(#b0ffe8, #bdfdd7, #98336b);
  	width: 100vw;
  	height: 100vh;

}

.main-title {
	grid-row: 1 / 3;
	grid-column: 5 / 13;
	background-color: green;
	font-size: 70px;
	text-align: center;
}
.strip {
	grid-row: 6 / 14;
	grid-column: 3 / 15;
	background-color: red;
}

.nav {
	grid-row: 15 / 17;
	grid-column: 7 / 11;
	background-color: blue;
}

.strip-title {
	grid-column:  6 / 12;
	grid-row: 5 / 6;
	background-color: purple;
	font-size: 30px;
	text-align: center;
}

.logo {
	background-color: orange;
  grid-column: 15 / 17;
	grid-row: 1 / 3;
}

.about {
	background-color: yellow;
	grid-row: 14 / 15;
	grid-column: 8 / 10;
}

#logo {
	width: 150px;
  	height: 81px;
}

background: radial-gradient(#b0ffe8, #bdfdd7, #98336b);